nav{
    padding: 20 10;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    border: 2px solid #181818;
}
a{
    position: relative;
    text-decoration: none;
    color: #181818;
    font-size: 18px;
    letter-spacing: .5px;
    padding: 0 20px;
    cursor: pointer;

}
a:before,
a:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 0px;
    background: blue;
    transition: .5s;

}
a:after{
    left: 0;
    bottom: -10px;

}
a:before{
    right: 0;
    top: -10px;

}
a:hover:after,
a:hover:before{
    width: 100%;
    
}